html, body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  
}
.container{
  margin: 20px auto;
 
  max-width: 1000%;
}

select, input, button{
  padding: 8px;
  font-size: 1rem;
  background-color: antiquewhite;
}
img{
  height: 50px;
}
.array::before{
  content: "[";
  font-size: 5rem;
}
.array::after{
  content: ']';
  font-size: 5rem;
}
.array{
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  align-content: stretch;
  
}
.array div{
  position: relative;
}
.array div span{
  position: absolute;
  right: 0px;
  left: 0px;
  display: block;
  font-size: 1.3rem;
  bottom: -20px;
  text-align: center;
}
.reverse-array{
 background-color: rgb(128, 105, 6);
 color: whitesmoke;
}